# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
*.env

# Django/migrations
*/migrations/
db.sqlite3

# IDE/editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node/npm
node_modules/

# Static/media
/staticfiles/
media/
*.log
