{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>New ROM Test</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Select a ROM Test</h2>
    <p>Click one to begin. You will be guided with an image and 10s countdown before measurement.</p>
    <ul>
        <li><a href="{% url 'rom_test_measure' 'flexion' %}">Flexion</a></li>
        <li><a href="{% url 'rom_test_measure' 'extension' %}">Extension</a></li>
        <li><a href="{% url 'rom_test_measure' 'abduction' %}">Abduction</a></li>
        <li><a href="{% url 'rom_test_measure' 'adduction' %}">Adduction</a></li>
    </ul>
    <a href="{% url 'patient_dashboard' %}">← Back to Dashboard</a>
</body>
</html>
